ejercicio02/libreria.dtd

<!ELEMENT libreria (libro+)>
<!-- Se utiliza + para indicar que puede haber uno o m치s elementos dentro de la etiquta -->

<!ELEMENT libro (titulo, autor, a침o, precio)>
<!ELEMENT titulo (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT a침o (#PCDATA)>
<!ELEMENT precio (#PCDATA)>
<!ATTLIST precio moneda CDATA #IMPLIED>
<!-- Con esta configuraci칩n en el DTD, el archivo libreria.xml puede tener elementos precio con o sin el atributo moneda -->
